<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greatest quotes</title>
    <!-- https://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-secondary text-white">
  <a class="navbar-brand" href="#">Menu</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Cytaty</a>
      </li>


        <li class="nav-item">
        <a class="nav-link" href="/search/">Wyszukiwarka</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/statistics/">Statystyki</a>
      </li>
         {% if current_user.is_anonymous %}
      <li class="nav-item">
        <a class="nav-link" href="/login/">Zaloguj</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/register/">Rejestracja</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/logout/">Wyloguj</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/Profil/">Profil</a>
      </li>
         {% endif %}

        {% if not current_user.is_anonymous %}
        <li class="nav-item">
        <a class="nav-link" >Uzytkownik: {{current_user.name}}</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
<div style="float:left;">
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
{% block content %}{% endblock %}
</div>
</body>
</html>
