{% extends "base.html" %}
{% block content %}
<div style="margin-left:5%; margin-right:10%; margin-top:5%;" class="container">
    <h1>Zaloguj sie:</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form></div>
{% endblock %}