{% extends "base.html" %}
{% block content %}

<div style="margin-left:5%; margin-right:10%; margin-top:5%;" class="container">
 <h1>Szukaj: </h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(size=32) }}<br>

        {% for subfield in form.choice %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
        <p>{{ form.submit() }}</p>

    </form>
    {% if quote != "empty" %}
<br><br><br><br><br><br>
    {% for quote in Quote %}

            <p class="h2" >{{ quote.text }}
    <small class="text-muted"><a href="/about/{{quote.author.id}}/"><br>{{ quote.author.name }}</a></small>
            <small class="h5">
            {% for tag in quote.tags %}
                <small class="container" style="background-color:powderblue;">
            {{ tag.name }}
    </small> &nbsp;&nbsp;
            {% endfor %}
    </small>
                {% if not current_user.is_anonymous %}
                {% if quote in current_user.favorites %}
                <form>
                <a href="/unfavorite/{{quote.id}}/1/"><input type="button" value="Usun z ulubionych!"></a></form>
                {% else %}
                <form>
                <a href="/favorite/{{quote.id}}/1/"><input type="button" value="Dodaj do ulubionych!"></a></form>
                {% endif %}

                {% endif %}
    </p>
    <br><br>
        {% endfor %}
    <br><br>
    {% endif %}

</div>
{% endblock %}